.card {
  background-color: white;
  height: max-content;
  width: 270px;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.card-header {
  display: flex;
  font-size: 13px;
  font-weight: 600;
}

.card-header-title {
  flex: 1 1 100%;
  overflow-y: hidden;
  align-self: center;
  overflow: hidden;
}

.card-header-settings {
  margin: 6.82px;
}

.card-header-status {
  justify-self: center;
  align-self: center;
  margin: 6.82px;
}

.card-control-panel {
  margin: 10px;
  height: 26px;
  display: flex;
  justify-content: space-between;
}

.card-control-panel-switcher > img {
  max-height: 26px;
}

.card-control-panel-hr {
  border: none;
  height: 1px;
  color: var(--color-gray-light);
  background-color: var(--color-gray-light);
  opacity: 50%;
}

.card-cameras {
  display: flex;
  flex-direction: column;
  margin: 14px 0;
}

.card-cameras-camera {
  font-size: 13px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  margin: 1px 8px 1px 16px;
}

.card-control-panel-event,
.card-control-panel-table,
.card-control-panel-dashboard,
.card-control-panel-switcher,
.card-cameras-camera-status {
  cursor: pointer;
}

.card-image {
  position: relative;
  background-color: var(--color-black);
  width: 270px;
  height: 154px;
}

.card-image > img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card-image-pages {
  position: absolute;
  display: flex;
  bottom: 4px;
  left: 6px;
}

.card-image-page {
  background-color: rgba(0, 0, 0, 0.55);
  text-align: center;
  width: 15px;
  height: 15px;
  margin: 1px;
  border-radius: 2px;
  font-size: 9px;
  line-height: 13.3px;
  font-weight: 400;
  color: white;
  cursor: pointer;
}

.card-active-page {
  background-color: var(--color-red)
}

.inactive {
  cursor: default;
  opacity: 50%;
}


